:root {
  --light-orange: #F2613F;
  --dark-orange: #9B3922;
  --extra-dark: #9B3922;
  --black: #0C0C0C;
}

.back-button {
  margin-bottom: 7px;
  float: left;
  color: var(--light-orange);
  padding: 4px 9px 5px 9px;
  background-color: var(--black);
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  cursor: pointer;
}

.back-button:hover {
  background-color: white;
}

.image-information {
  border: 2px solid var(--light-orange);
}

.image-gallary {
  padding: 6px;
  background-color: var(--black);
  color: var(--light-orange);
  text-align: center;
}

.image {
  border-radius: 20px;
  color: white;
  margin-top: 18px;
}

* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

#photos {
  margin-top: 30px;
}

#photos img {
  display: block;
  width: 100%;
  border-radius: 20px;
}

@media (min-width: 500px) {
  #photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6px;
    margin-top: 0;
  }
}

@media (min-width: 900px) {
  #photos {
    grid-template-columns: repeat(3, 1fr);
    width: 900px;
    margin: auto;
  }
}

/* index style */

nav {
  text-align: center;
}

header {
  background: linear-gradient(720deg, #000000, #864c4c);
  color: var(--black);
  height: 90px;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  padding-bottom: 3px;
  color: --light-orange;
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: var(--light-orange);
  text-decoration: none;
}

main {
  padding: 20px;
  background: linear-gradient(686deg, #611300cc, transparent);
}

.content-section {
  margin-top: 20px;
}

#gallaryHeading {
  font-size: 32px;
  margin-bottom: 10px;
  background: linear-gradient(363deg, #bc1414, transparent);
  border-radius: 20px;
  padding: 3px;
}

p {
  margin-bottom: 20px;
}

.explor-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--black);
  color: var(--light-orange);
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 2px #9b3918;
}

.explor-button:hover {
  background-color: white;
}

/* Styles for contact information */
.nav-link {
  float: right;
  font-weight: bold;
  text-align: right;
  color: var(--light-orange);
  font-size: 14px;
}

.nav-link li {
  display: inline-block;
  margin-left: 20px;
}

#translate-button {
  float: right;
  color: var(--light-orange);
  padding: 6px 4px 7px 7px;
  background-color: var(--black);
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  cursor: pointer;
  /*  box-shadow: 0px 0px 3px 2px #9b3918; */
}

#translate-button:hover {
  background-color: white;
}

/* <!-- HTML !-->
<button class="button-91" role="button">Button 91</button> */

/* CSS */
.button-91 {
  color: var(--light-orange);
  padding: 9px;
  background-color: var(--black);
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  cursor: pointer;
}