:root {
  --light-orange: #F2613F;
  --dark-orange: #9B3922;
  --extra-dark : #9B3922;
  --black: #0C0C0C;
}
.back-button{
  display: inline-block;
    font-size: 23px;
    background-color: var(--dark-orange);
    color: var(--black);
    text-decoration: none;
    border-radius: 5px;
    margin-top: -11px;
    padding: 5px;
}
.image-information{
  border: 2px solid var(--light-orange);
}

.image-gallary{
  padding: 6px;
  background-color: var(--black);
}
.image{
    border-radius: 20px;
    color: white;
    margin-top: 18px;
}
* {
  margin: 0;
  padding: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

#photos {
  margin-top: 30px;
}

#photos img {
  display: block;
  width: 100%;
  border-radius: 20px;
}

@media (min-width: 500px) {
  #photos {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 6px;
      margin-top: 0;
  }
}

@media (min-width: 900px) {
  #photos {
      grid-template-columns: repeat(3, 1fr);
      width: 900px;
      margin: auto;
  }
}

/* index style */

nav{
  text-align: center;
}

header {
  background-color: var(--black);
  color: var(--light-orange);
  height: 90px;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  padding-bottom: 3px;
  color: --dark-orange;
  display: inline;
  margin-right: 20px;
}
nav ul li a {
  color: var(--dark-orange);
  text-decoration: none;
}

main {
  padding: 20px;
}

.content-section {
  margin-top: 20px;
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

.explor-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--black);
  color: var(--light-orange);
  text-decoration: none;
  border-radius: 5px;
}
/* Styles for contact information */
.nav-link {
  float: right;
  font-weight: bold;
  text-align: right;
  color: var(--extra-dark);
  font-size: 14px;
}

.nav-link li {
  display: inline-block;
  margin-left: 20px;
}


